{% extends "login_register_base.html" %}
{% block content %}

<div class="container"><h1>Register</h1></div>


<div class="container">
    <form action="" method="post">

        {{ form.hidden_tag() }}

        <div class="col-xs-4">
            {{ render_field(form.username, class='form-control', placeholder='username') }}

            {{ render_field(form.password, class='form-control', placeholder='password') }}

            {{ render_field(form.password2, class='form-control', placeholder='retype password') }}
            <br>
            <button class="btn btn-primary" type="submit">Register</button>

        </div>
        
    </form>
    </div>
{% endblock %}